/.quarto/
/_site/
/docs/
/tutorial_files/
/slides_files/
/index_files/
/README_files/
README.html
preview_tutorial.html
preview_slides.html
*.Rproj.user
.Rhistory
.RData
.DS_Store
Thumbs.db
~$*

**/*.quarto_ipynb
